* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Chakra Petch";
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7% (1fr)[4] 7%;
      grid-template-columns: 7% repeat(4, 1fr) 7%;
  -ms-grid-rows: auto 110px 100px 110px auto auto 100px;
      grid-template-rows: auto 110px 100px 110px auto auto 100px;
  background-color: #110038;
}

.borde-general {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 1 / 1 / 2 / 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
}

.borde-ventana {
  background: -webkit-gradient(linear, right top, left top, from(#ee3efe), to(#2e32fb));
  background: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
}

.borde-ventana label {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

#borde-general {
  font-size: 12px;
  font-weight: normal;
}

header {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: 2 / 2 / 3 / 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1px;
}

header nav a {
  margin-left: 6px;
  color: #fff;
  letter-spacing: 0;
  line-height: 18px;
  text-decoration: none;
  padding: 10px 10px 10px 0;
}

header nav a:hover {
  border: 1px dotted #fff;
}

header nav a:hover span {
  border-bottom: 1px solid #fff;
}

header nav a:active {
  color: #1100389f;
}

header nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

header div.container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div.container-logo img.logo {
  cursor: pointer;
}

header div.container-logo img.logo:first-child {
  margin-right: 15px;
  display: none;
}

header #logo {
  cursor: pointer;
}

.btn {
  color: #fff;
  font-size: 16px;
  border: 1px solid #110038;
  background-color: #ee3efe;
  margin: 0 6px;
  padding: 10px 20px;
  -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
  width: 144px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ce36db;
  border: groove 5px dotted #110038;
}

div .btn:nth-child(1) {
  margin-right: 0;
}

.flecha {
  width: 40px;
  height: 43px;
  padding: 0;
  margin-left: 0;
  border-left: 0;
}

.caja {
  background: #b4b4b4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
  padding: 5px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 43px;
  left: 5px;
  width: 185px;
  z-index: 3;
}

.btn-caja {
  background: #cccccc;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  margin: 3px;
  height: 36px;
  text-align: left;
  padding-left: 10px;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  cursor: pointer;
}

.btn-caja:hover {
  background-color: #2e32fb;
  color: #fff;
}

.btn-caja:hover span {
  border-bottom: 1px solid #fff;
}

section.buscar {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: 3 / 2 / 4 / 6;
  background: #b4b4b4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

section.buscar label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
}

section.buscar div.borde-ventana {
  height: 24px;
}

section.buscar div.busqueda {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
}

section.buscar div.busqueda input {
  font-size: 16px;
  width: 90%;
  margin: 3px;
  height: 80%;
  border: 1px solid #979797;
  -webkit-box-shadow: inset 2px 2px 0 0;
          box-shadow: inset 2px 2px 0 0;
  padding: 15px;
}

section.buscar div.busqueda button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 60%;
  margin-left: 5px;
  font-size: 16px;
  color: #8f8f8f;
  line-height: 18px;
  background: #b4b4b4;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  padding: 5px 10px 5px 3px;
  cursor: pointer;
}

section.buscar div.busqueda button img {
  margin: 5px;
}

.caja-sugeridos {
  position: absolute;
  top: 100px;
  background: #b4b4b4;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  width: 100%;
  left: -0.5px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 10px 5px;
  z-index: 100;
}

.caja-sugeridos button.btn-sugeridos {
  width: 89.5%;
  margin: 5px;
  background: #cccccc;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  text-align: left;
  padding: 5px 10px;
  cursor: pointer;
}

.caja-sugeridos button.btn-sugeridos:hover {
  background-color: #dbdbdb;
}

section.contenido {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: 5 / 2 / 6 / 6;
}

section.contenido .titulo {
  position: relative;
  background: #fffafe;
  border: 1px solid #2e32fb;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
  padding: 10px;
  top: -42px;
}

.container-sugerencia-giph {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: 6 / 2 / 7 / 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-sugerencia-giph .caja-tendencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 275px;
  height: 300px;
  background: #cccccc;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  position: relative;
}

.container-sugerencia-giph .caja-tendencia div {
  width: 97.5%;
  margin: 2px auto auto auto;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25px;
  padding: 5px;
}

.container-sugerencia-giph .caja-tendencia div img {
  cursor: pointer;
}

.container-sugerencia-giph .caja-tendencia img.giph {
  width: 97.5%;
  margin: 1px auto auto auto;
  height: 89%;
  margin-bottom: 4px;
}

.container-sugerencia-giph .caja-tendencia button {
  position: absolute;
  width: 81px;
  height: 34px;
  left: 20px;
  bottom: 20px;
  background: #4180f6;
  color: #fff;
  border: 1px solid #4c2f99;
  -webkit-box-shadow: inset -1px -1px 0 0 #284f99, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #284f99, inset 1px 1px 0 0 #ffffff;
  cursor: pointer;
}

.container-sugerencia-giph .caja-tendencia button:hover {
  background: #3a72db;
}

section.tendencias div.titulo {
  margin-top: 60px;
  background: #fffafe;
  border: 1px solid #2e32fb;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
  padding: 10px;
}

section.tendencias {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: 6 / 2 / 7 / 6;
}

div.container-tendencias-giph {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.container-tendencias-giph div.caja-tendencia {
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  width: auto;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
}

div.container-tendencias-giph div.caja-tendencia div {
  position: absolute;
  bottom: 4px;
  left: 4px;
  display: none;
  height: 25px;
  padding: 5px;
  width: 97%;
}

div.container-tendencias-giph div.caja-tendencia:hover > img {
  -webkit-transform: scale(0.985);
          transform: scale(0.985);
}

div.container-tendencias-giph div.caja-tendencia:hover > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.container-tendencias-giph img {
  width: 275px;
  height: 300px;
}

section.busqueda {
  display: none;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: 6 / 2 / 7 / 6;
}

section.busqueda div.titulo {
  background: #fffafe;
  border: 1px solid #e6bbe2;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  padding: 10px;
  position: relative;
  margin-top: 50px;
}

div.container-busqueda-giph {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.container-busqueda-giph div.caja-busqueda {
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
}

div.container-busqueda-giph div.caja-busqueda div {
  position: absolute;
  bottom: 4px;
  left: 4px;
  display: none;
  height: 25px;
  padding: 5px;
  width: 97.5%;
}

div.container-busqueda-giph div.caja-busqueda:hover > img {
  -webkit-transform: scale(0.985);
          transform: scale(0.985);
}

div.container-busqueda-giph div.caja-busqueda:hover > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.container-busqueda-giph img {
  width: 275px;
  height: 300px;
}

div.caja-sugerencias {
  position: absolute;
  top: 250px;
  width: 86%;
  height: 39px;
  overflow: hidden;
}

div.caja-sugerencias button {
  background: #4180f6;
  border: 1px solid #4c2f99;
  -webkit-box-shadow: inset -1px -1px 0 0 #284f99, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #284f99, inset 1px 1px 0 0 #ffffff;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
}

div.caja-sugerencias button:hover {
  background: #3a72db;
}

section.misgifos {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: 3 / 2 / 4 / 6;
}

section.misgifos div.titulo {
  background: #fffafe;
  border: 1px solid #2e32fb;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  padding: 10px;
  position: relative;
}

div.container-misgifos-giph {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.container-misgifos-giph div.caja-misgifos {
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
}

div.container-misgifos-giph div.caja-misgifos div {
  position: absolute;
  bottom: 4px;
  left: 4px;
  display: none;
  height: 25px;
  padding: 5px;
  width: 97.5%;
}

div.container-misgifos-giph div.caja-misgifos:hover > img {
  -webkit-transform: scale(0.985);
          transform: scale(0.985);
}

div.container-misgifos-giph div.caja-misgifos:hover > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.container-misgifos-giph img {
  width: 275px;
  height: 300px;
}

section.ventana-crear {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: 3 / 2 / 4 / 6;
  display: none;
}

div.container-crear-giph {
  margin: 50px auto 0 auto;
  height: auto;
  width: 60%;
  background: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.container-crear-giph div.borde-ventana {
  margin-top: 2px;
  width: 99%;
  height: 24px;
  padding: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.iniciar-crear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 99%;
}

div.iniciar-crear div.titulo-crear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

div.iniciar-crear div.titulo-crear img {
  margin: 0 15px 0 20px;
}

div.iniciar-crear div.titulo-crear label {
  font-weight: bold;
  color: #110038;
}

div.contenido-crear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 65px;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 30px;
}

div.contenido-crear span {
  font-weight: bold;
  font-style: italic;
}

div.contenido-crear ol {
  counter-reset: li;
  list-style: none;
}

div.contenido-crear ol > li:before {
  counter-increment: li;
  content: counter(li) ") ";
  font-weight: bold;
}

div.botones {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.botones button:first-child {
  margin-right: 10px;
}

.btn-2 {
  background: #110038;
  border: 1px solid #b4b4b4;
  -webkit-box-shadow: inset -1px -1px 0 0 #5c5c5c, inset 1px 1px 0 0 #fff4fd;
          box-shadow: inset -1px -1px 0 0 #5c5c5c, inset 1px 1px 0 0 #fff4fd;
}

.btn-2:hover {
  background: #110038;
  border: 1px solid #b4b4b4;
  -webkit-box-shadow: inset -1px -1px 0 0 #5c5c5c, inset 1px 1px 0 0 #fff4fd;
          box-shadow: inset -1px -1px 0 0 #5c5c5c, inset 1px 1px 0 0 #fff4fd;
}

div.container-precaptura {
  margin: 50px auto 0 auto;
  height: auto;
  width: 60%;
  background: #b4b4b4;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.container-precaptura div.borde-ventana {
  margin-top: 2px;
  width: 99%;
  height: 24px;
  padding: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.container-precaptura div.borde-ventana img {
  cursor: pointer;
}

div.container-precaptura video {
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  width: 98%;
  margin-top: 1%;
}

div.container-precaptura #video2 {
  display: none;
}

div.container-precaptura .container {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1%;
}

div.container-precaptura div.botones-captura {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.container-precaptura div.botones-captura button:first-child {
  width: 36px;
  border-right: 0;
}

div.container-precaptura div.botones-captura button.btn-capturar {
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}

div.botones-grabacion {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 1%;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.botones-grabacion label {
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  padding: 5px 15px;
}

div.botones-grabacion div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.botones-grabacion div button:first-child {
  width: 36px;
  border-right: 0;
}

div.botones-grabacion div button.btn-capturar {
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #ff6161;
  color: #fff;
}

.botones-vista-previa {
  display: none;
  padding: 3% 1%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.botones-vista-previa div.botones-accion button.btn-2 {
  padding: 10px;
  width: auto;
}

.botones-vista-previa div.botones-accion button:last-child {
  margin-right: 0;
  width: auto;
}

.botones-vista-previa div.container-controles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.botones-vista-previa div.container-controles label {
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  padding: 5px 15px;
  width: 94px;
}

.botones-vista-previa div.container-controles button {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

div.barra-progreso {
  height: 24px;
  width: 220px;
  background: #b4b4b4;
  -webkit-box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #fffcfc;
          box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #fffcfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.barra-progreso div.value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98%;
  height: 83%;
  background-color: #999999;
  position: relative;
}

div.barra-progreso div.value div {
  width: 12px;
  height: 20px;
  border: 1px solid #b4b4b4;
  z-index: 11;
}

div.barra-progreso div.value div.progreso {
  background-color: #EE3EFE;
  height: 20px;
  z-index: 10;
  position: absolute;
  left: 0;
}

div.subiendo-gif {
  width: 100%;
  padding: 1%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.subiendo-gif div.ventana-subiendo {
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  width: 100%;
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.subiendo-gif div.ventana-subiendo img {
  margin: 10px;
}

div.subiendo-gif div.ventana-subiendo h3 {
  font-weight: bold;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  margin-bottom: 30px;
}

div.subiendo-gif div.ventana-subiendo p {
  margin-top: 5px;
  font-size: 12px;
  color: rgba(17, 0, 56, 0.64);
  letter-spacing: 0;
  text-align: center;
  line-height: 14px;
}

div.subiendo-gif div.ventana-subiendo p span {
  text-decoration: line-through;
}

div.subiendo-gif div.ventana-subiendo div.barra-progreso {
  width: 340px;
}

div.subiendo-gif div.ventana-subiendo div.barra-progreso div.progreso {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: cargando;
          animation-name: cargando;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  width: 70px;
}

div.subiendo-gif div.container-boton-cancelar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2% 0;
}

div.subiendo-gif div.container-boton-cancelar button {
  padding: 10px;
  width: 144px;
}

@-webkit-keyframes cargando {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 80%;
  }
}

@keyframes cargando {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 80%;
  }
}

div.gif-exitoso {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 3%;
}

div.gif-exitoso div.container-gif {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.gif-exitoso div.container-gif img {
  height: 200px;
  min-width: 350px;
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
}

div.gif-exitoso div.botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

div.gif-exitoso div.botones button {
  width: 100%;
  margin: 5px 0;
}

div.gif-exitoso div.botones h3 {
  font-weight: bold;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 10px;
}

div.gif-exitoso div.container-boton {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 4%;
}
/*# sourceMappingURL=theme-dark.css.map */