$azulOscuro: #110038;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Chakra Petch";
}

body {
    display: grid;
    grid-template-columns: 7% repeat(4, 1fr) 7%;
    grid-template-rows: auto 110px 100px 110px auto auto 100px;
    background-color: #fff1fd;
}

.borde-general {
    grid-area: 1 / 1 / 2 / 7;
    display: flex;
    align-items: center;
    padding: 5px;
    box-shadow: 0 1px 0 0 $azulOscuro;
}

.borde-ventana {
    background: linear-gradient(to left, #f7c9f3, #4180f6);
    label {
        font-size: 14px;
        color: #fff;
        font-weight: bold;
    }
}

#borde-general {
    font-size: 12px;
    font-weight: normal;
}

header {
    grid-area: 2 / 2 / 3 / 6;
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
        display: flex;
        align-items: center;
        padding-right: 1px;
        a {
            margin-left: 6px;
            color: $azulOscuro;
            letter-spacing: 0;
            line-height: 18px;
            text-decoration: none;
            padding: 10px 10px 10px 0;

            &:hover {
                border: 1px dotted $azulOscuro;
                span {
                    border-bottom: 1px solid $azulOscuro;
                }
            }
            &:active {
                color: #1100389f;
            }
        }
        div {
            display: flex;
            position: relative;
        }
    }
    img {
        cursor: pointer;
    }
}

.btn {
    color: $azulOscuro;
    font-size: 16px;
    border: 1px solid $azulOscuro;
    background-color: #f7c9f3;
    margin: 0 6px;
    padding: 10px 20px;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    width: 144px;
    cursor: pointer;
    &:hover {
        background-color: #e6bbe2;
        border: groove 5px dotted $azulOscuro;
    }
    div &:nth-child(1) {
        margin-right: 0;
    }
}

.flecha {
    width: 40px;
    height: 43px;
    padding: 0;
    margin-left: 0;
    border-left: 0;
}

.caja {
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    padding: 5px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 43px;
    left: 5px;
    width: 185px;
    z-index: 3;
}

.btn-caja {
    border: 1px solid #cca6c9;
    box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
    margin: 3px;
    background-color: #fff4fd;
    height: 36px;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    cursor: pointer;
    &:hover {
        background-color: #f0f0f0;
        & span {
            border-bottom: 1px solid $azulOscuro;
        }
    }
}

section.buscar {
    grid-area: 3 / 2 / 4 / 6;
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    padding: 3px;
    display: flex;
    flex-direction: column;
    position: relative;
    label {
        display: flex;
        align-items: center;
        padding: 3px;
    }
    div.borde-ventana {
        height: 24px;
    }
    div.busqueda {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 4px;
        input {
            font-size: 16px;
            width: 90%;
            margin: 3px;
            height: 80%;
            border: 1px solid #979797;
            box-shadow: inset 2px 2px 0 0;
            padding: 15px;
        }
        button {
            display: flex;
            align-items: center;
            width: auto;
            height: 60%;
            margin-left: 5px;
            font-size: 16px;
            color: #b4b4b4;
            line-height: 18px;
            background: #e6e6e6;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
            padding: 5px 10px 5px 3px;
            cursor: pointer;
            img {
                margin: 5px;
            }
        }
    }
}

.caja-sugeridos {
    position: absolute;
    top: 100px;
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    width: 100%;
    left: -0.5px;
    display: none;
    flex-direction: column;
    height: auto;
    justify-content: left;
    padding: 10px 5px;
    z-index: 100;
    button.btn-sugeridos {
        width: 89.5%;
        margin: 5px;
        background: #f0f0f0;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;
        text-align: left;
        padding: 5px 10px;
        cursor: pointer;
        &:hover {
            background-color: #dbdbdb;
        }
    }
}

section.contenido {
    grid-area: 5 / 2 / 6 / 6;
}

section.contenido .titulo {
    position: relative;
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
    padding: 10px;
    top: -42px;
}

.container-sugerencia-giph {
    grid-area: 6 / 2 / 7 / 6;
    display: flex;
    justify-content: space-between;
    .caja-tendencia {
        display: flex;
        flex-direction: column;
        width: 275px;
        height: 300px;
        background: #e6e6e6;
        box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
        position: relative;
        div {
            width: 97.5%;
            margin: 2px auto auto auto;
            font-size: 14px;
            color: #ffffff;
            letter-spacing: 0;
            display: flex;
            justify-content: space-between;
            height: 25px;
            padding: 5px;
            img {
                cursor: pointer;
            }
        }
        img.giph {
            width: 97.5%;
            margin: 1px auto auto auto;
            height: 89%;
            margin-bottom: 4px;
        }
        button {
            position: absolute;
            width: 81px;
            height: 34px;
            left: 20px;
            bottom: 20px;
            background: #4180f6;
            color: #fff;
            border: 1px solid #4c2f99;
            box-shadow: inset -1px -1px 0 0 #284f99, inset 1px 1px 0 0 #ffffff;
            cursor: pointer;
            &:hover {
                background: #3a72db;
            }
        }
    }
}

section.tendencias div.titulo {
    margin-top: 60px;
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
    padding: 10px;
}

section.tendencias {
    grid-area: 6 / 2 / 7 / 6;
}

div.container-tendencias-giph {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div.caja-tendencia {
        background: #e6e6e6;
        box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
        width: auto;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        margin-bottom: 20px;
        div {
            position: absolute;
            bottom: 4px;
            left: 4px;
            display: none;
            height: 25px;
            padding: 5px;
            width: 97%;
        }
        &:hover > img {
            transform: scale(0.985);
        }
        &:hover > div {
            display: flex;
        }
    }
    img {
        width: 275px;
        height: 300px;
        // max-width: 550px;
    }
}

section.busqueda {
    display: none;
    grid-area: 6 / 2 / 7 / 6;
}

section.busqueda div.titulo {
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
    padding: 10px;
    position: relative;
    margin-top: 50px;
}

div.container-busqueda-giph {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div.caja-busqueda {
        background: #e6e6e6;
        box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        margin-bottom: 20px;
        div {
            position: absolute;
            bottom: 4px;
            left: 4px;
            display: none;
            height: 25px;
            padding: 5px;
            width: 97.5%;
        }
        &:hover > img {
            transform: scale(0.985);
        }
        &:hover > div {
            display: flex;
        }
    }
    img {
        width: 275px;
        height: 300px;
        // max-width: 550px;
    }
}

div.caja-sugerencias {
    position: absolute;
    top: 250px;
    width: 86%;
    height: 39px;
    overflow: hidden;
    button {
        background: #4180f6;
        border: 1px solid #4c2f99;
        box-shadow: inset -1px -1px 0 0 #284f99, inset 1px 1px 0 0 #ffffff;
        padding: 10px;
        color: #fff;
        cursor: pointer;
        margin-right: 20px;
        &:hover {
            background: #3a72db;
        }
    }
}

section.misgifos {
    grid-area: 3 / 2 / 4 / 6;
}

section.misgifos div.titulo {
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
    padding: 10px;
    position: relative;
}

div.container-misgifos-giph {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div.caja-misgifos {
        background: #e6e6e6;
        box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        margin-bottom: 20px;
        div {
            position: absolute;
            bottom: 4px;
            left: 4px;
            display: none;
            height: 25px;
            padding: 5px;
            width: 97.5%;
        }
        &:hover > img {
            transform: scale(0.985);
        }
        &:hover > div {
            display: flex;
        }
    }
    img {
        width: 275px;
        height: 300px;
        // max-width: 550px;
    }
}