$azulOscuro : #110038;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: content-box;
    font-family: 'Chakra Petch';
}

body {
    display: grid;
    grid-template-columns: 7% 1fr 7%;
    grid-template-rows: auto auto;
    background-color: #fff1fd;
}

.borde-ventana-sailor-day label {
    color: #FFF;
    font-size: 12px;
}

.borde-general {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    box-shadow: 0 1px 0 0 #110038;
}

.borde-ventana-sailor-day {
    background: linear-gradient(to left, #F7C9F3, #4180F6);
    padding: 3.5px 10px;
    display: flex;
}

header {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}


nav a {
    color: $azulOscuro;
    letter-spacing: 0;
    line-height: 18px;
    text-decoration: none;
}

nav a span{
    border-bottom: 1px solid $azulOscuro;
}

.select-theme {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.btn-sailor-day {
    color: $azulOscuro;
    font-size: 16px;
    border: 1px solid $azulOscuro;
    background-color: #F7C9F3;
    margin: 0 5px;
    padding: 10px 20px;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    width: 144px;
    cursor: pointer;
}

.btn-sailor-day:hover{
    background-color: #e6bbe2;
}