$azulOscuro: #110038;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Chakra Petch";
}

body {
    display: grid;
    grid-template-columns: 7% repeat(4, 1fr) 7%;
    grid-template-rows: auto 110px 100px 110px;
    background-color: #fff1fd;
}

.borde-general {
    grid-area: 1 / 1 / 2 / 7;
    display: flex;
    align-items: center;
    padding: 5px;
    box-shadow: 0 1px 0 0 $azulOscuro;
}

.borde-ventana {
    background: linear-gradient(to left, #f7c9f3, #4180f6);
    label {
        font-size: 12px;
        color: #fff;
    }
}

header {
    grid-area: 2 / 2 / 3 / 6;
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
        display: flex;
        align-items: center;
        padding-right: 1px;
        a {
            margin-left: 6px;
            color: $azulOscuro;
            letter-spacing: 0;
            line-height: 18px;
            text-decoration: none;
            padding: 10px 10px 10px 0;

            &:hover {
                border: 1px dotted $azulOscuro;
                span {
                    border-bottom: 1px solid $azulOscuro;
                }
            }
            &:active {
                color: #1100389f;
            }
        }
        div {
            display: flex;
            position: relative;
        }
    }
}

.btn {
    color: $azulOscuro;
    font-size: 16px;
    border: 1px solid $azulOscuro;
    background-color: #f7c9f3;
    margin: 0 6px;
    padding: 10px 20px;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    width: 144px;
    cursor: pointer;
    &:hover {
        background-color: #e6bbe2;
        border: groove 5px dotted $azulOscuro;
    }
    div &:nth-child(1) {
        margin-right: 0;
    }
}

.flecha {
    width: 40px;
    height: 43px;
    padding: 0;
    margin-left: 0;
    border-left: 0;
}

.caja {
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    padding: 5px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 43px;
    left: 5px;
    width: 185px;
}

.btn-caja {
    border: 1px solid #cca6c9;
    box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
    margin: 3px;
    background-color: #fff4fd;
    height: 36px;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    cursor: pointer;
    &:hover {
        background-color: #f0f0f0;
        & span {
            border-bottom: 1px solid $azulOscuro;
        }
    }
}
